<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
<!--                <property name="url" value="jdbc:mysql://42.193.23.180:3306/minecraft?useUnicode=true&amp;character_set_server=utf8mb4&amp;serverTimezone=Asia/Shanghai"/>-->
<!--                <property name="username" value="Minecraft"/>-->
<!--                <property name="password" value="nLEDhpD7zXpdtFA3"/>-->
                <property name="url" value="jdbc:mysql://localhost:3306/minecraft?useUnicode=true&amp;character_set_server=utf8mb4&amp;serverTimezone=Asia/Shanghai&amp;allowMultiQueries=true&amp;useAffectedRows=true"/>
                <property name="username" value="root"/>
                <property name="password" value="728152568"/>
<!--                <property name="url" value="jdbc:mysql://182.42.112.115:3306/minecraft?useUnicode=true&amp;character_set_server=utf8mb4&amp;serverTimezone=Asia/Shanghai&amp;allowMultiQueries=true&amp;useAffectedRows=true"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="mysql123456@"/>-->
                <property name="poolMaximumActiveConnections" value="16"/>
                <property name="poolMaximumIdleConnections" value="8"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/PlayerFunction.xml"/>
        <mapper resource="mapper/PlayerHomeMapper.xml"/>
        <mapper resource="mapper/WarpFunctionMapper.xml"/>
    </mappers>
</configuration>
