<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="superarilo.main.mapper.WarpFunction">

    <select id="checkIsHaveId" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(*)  FROM mc_warp_list where warp_id = #{warpId}
    </select>

    <select id="getWarpQuantity" resultType="java.lang.Integer">
        select count(*) from mc_warp_list where player_uuid = #{playerUUID}
    </select>

    <select id="getWarpList" resultType="superarilo.main.entity.Warp">
        select * from mc_warp_list where warp_class = #{warpClass} ORDER BY id DESC LIMIT #{pageNumber},#{pageSize}
    </select>
    <select id="getWarpCount" resultType="java.lang.Integer">
        select count(*) from mc_warp_list where warp_class = #{warpClass}
    </select>
</mapper>
